asgiref==3.7.2
diploma-frontend @ file:///../diploma-frontend/dist/diploma-frontend-0.6.tar.gz#sha256=3a6b1203724b256946919b4d65b362b005ae6a9e1e93d8d765e96aa6a92764ac
Django==4.2.10
django-debug-toolbar==4.2.0
django-filter==23.5
django-request-logging==0.7.5
djangorestframework==3.14.0
pillow==10.2.0
pytz==2023.3.post1
sqlparse==0.4.4
